<html>
<head>
	<meta charset="UTF-8"> 
	<meta name="csrf-token" content="{% csrf_token %}" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
	<script src="static/js/script.js"></script>

</head>
<body>
  Long URL:<input type="url" name="long_url" placeholder="http://www.google.com" class="longurl"><br />
  Short URL:<input type="text" name="short_url" class="shorturl" placeholder="google"> 
  <input id="shorten" type="submit" value="Shortener" >
 
  <span class='abc'></span>

</body>
</html> 

